---
# ArgoCD Application for staging
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: product-catalog-staging
  namespace: argocd
  labels:
    app: product-catalog
    environment: staging
spec:
  project: default

  source:
    repoURL: https://github.com/sarthakm19/product-catalog-service.git
    targetRevision: staging
    path: k8s/overlays/staging

  destination:
    server: https://kubernetes.default.svc
    namespace: product-catalog-staging

  syncPolicy:
    automated:
      prune: false
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

