apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: product-catalog

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml

images:
  - name: product-catalog
    newName: 692298411961.dkr.ecr.us-east-1.amazonaws.com/base-infrastructure-dev-app
    newTag: latest

commonLabels:
  app: product-catalog
  managed-by: kustomize
  version: "1.0.0"

commonAnnotations:
  repository: "https://github.com/your-org/product-catalog"
  description: "Product Catalog Service - E-commerce Microservice"
